.right-side-text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.left-side-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.bottom-text {
  vertical-align: text-bottom;
}
.container-in-half-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.container-center {
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
  max-width: 500px;
}

.container-center img {
  max-width: 100%;
  height: auto;
}

.img_horizontal {
  max-width: 100%;
  height: 350px;
}
