.right-side-text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.left-side-text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.bottom-text {
  vertical-align: text-bottom;
}
